
 <div class="login-form">
            <form id="form" method="POST" form action="/users/new">
              
                <div>
                    <label for="email" >Email</label>
                        <input type="email" name="email" id="email" required>
                </div>
        
                <div>
                    <label for="password" >Password</label>
                        <input type="text" name="password" id="password" required>
                </div>

                <input type="submit">

</div>