<%- include('layout') -%>
<h2>Sign up:</h2>
<div class="signup-form">
    <form id="login-form" method="POST" form action="/login">
       
        <div>
            <label for="surname" >Surname *</label>
                <input type="text" name="surname" id="surname" required>
        </div>

        <div>
            <label for="firstname">First Name *</label>
                <input type="text" name="firstname" id="firstname" required>
        </div>

    
        <div>
            <label for="email">Email *</label>
                <input type="email" name="email" id="email" required>
        </div>


        <div>
            <label for="password">Password *</label>
                <input type="password" name="password" id="password" >
        </div>

        <div>
            <label for="conf-password">Confirm Password *</label>
                <input type="password" name="conf-password" id="conf-password" >
        </div>

        <button type="submit" form="signup-form" value="Submit">Submit</button>

    </div>

</form>