<div class="form">
    <div class="form-header">
        <img src="assets/logo_dark.png" alt="Mr.Coffee Logo (Dark)" />
        <h1>Schedule Management</h1>
    </div>
        <div class="form-fields">
          <form id="schedule-form" method="POST" form action="/scheduleManagement">
        
            
                    <div>
                        <label for="Day" >Day</label>
                            <select name="day" id="day">
                                <option value="1">Monday</option>
                                <option value="2">Tuesday</option>
                                <option value="3">Wednesday</option>
                                <option value="4">Audi</option>
                                <option value="5">Monday</option>
                                <option value="6">Saab</option>
                                <option value="7">Mercedes</option>
                            </select>
                    </div>
            
                    <div>
                        <label for="startingTime">Starting Time</label>
                            <input type="text" name="startingTime" id="startingTime" required>
                    </div>
            
                    <div>
                        <label for="finishingTime" >Finishing Time</label>
                            <input type="text" name="finishingTime" id="finishingTime" >
                    </div>
                    
                    <input type="submit">
            
                </div>

   