
<h2>Login:</h2>
<div class="signup-form">
    <form id="login-form" method="POST" form action="/login">
       
        <div>
            <label for="lastname" >Last Name</label>
                <input type="text" name="lastname" id="lastname" required>
        </div>

        <div>
            <label for="firstname">First Name</label>
                <input type="text" name="firstname" id="firstname" required>
        </div>

    
        <div>
            <label for="email">Email *</label>
                <input type="email" name="email" id="email" required>
        </div>


        <div>
            <label for="password">Password</label>
                <input type="text" name="password" id="password" >
        </div>

        <div>
            <label for="conf-password">Confirm Password</label>
                <input type="text" name="conf-password" id="conf-password" >
        </div>

        <input type="submit">

    </div>

</form>